<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilizacao/style.css">
    <title>MOVIEFLIX</title>
</head>
<body>
    <section class="background-container">
        <header class="navbar">
            <p class="logo">MOVIEFLIX</p>
            <section class="nav-links">
                <a href="" class="entrar">Entrar</a>
                <a href="" class="assinar">Assine Agora</a>
            </section>
        </header>

        <main>
            <section class="main-content">
                <h1>Filmes, séries e muitos mais</h1>
                <h2>Escolha um plano a partir de R$ 20,90. Cancele quando quiser</h2>
                <p>Digite seu e-mail para começar</p>
                <form class="email-form">
                    <input type="email" placeholder="Email" required>
                    <button type="submit">Assine agora &gt;</button>
                </form>
            </section>
        </main>
    </section>
    <footer class="main-footer">
    <section class="footer-content">
        <section class="footer-section about">
            <h3>MOVIEFLIX</h3>
            <p>O melhor lugar para maratonar filmes e séries. Cancelamento fácil a qualquer momento.</p>
        </section>

        <section class="footer-section links">
            <h3>Links Rápidos</h3>
            <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Perguntas Frequentes</a></li>
                <li><a href="#">Termos de Uso</a></li>
                <li><a href="#">Política de Privacidade</a></li>
            </ul>
        </section>

        <section class="footer-section social">
            <h3>Siga-nos</h3>
            <section class="social-icons">
                <a href="#"><img src="../img/instagram.png" alt="instagrma"></a>
                <a href="#"><img src="../img/facebook.png" alt="facebook"></a>
                <a href="#"><img src="../img/ex-twitter.png" alt="twitter"></a>
            </section>
        </section>
    </section>

    <section class="footer-bottom">
        &copy; <span id="current-year"></span> Movieflix. Todos os direitos reservados.
    </section>
</footer>
</body>
</html>