<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilizacao/login.css">
    <title>Login</title>
</head>
<body>
    <header class="navbar">
        <p class="logo">MOVIEFLIX</p>
        <section class="nav-links">
            <a href="../view/index.html" class="entrar">Sair</a>
        </section>
    </header>
    <main class="login-container">
        <section class="login-box">
            <section class="icone-usuario">
                <img src="../img/usuario.png" alt="usuário">
            </section>
            <form>
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" name="usuario">

                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha">
                
                <section class="buttons">
                    <button type="submit" class="btn">Entrar</button>
                    <button type="button" class="btn secundario">Esqueci a senha</button>
                </section>

                <a href="../view/cadstro.html" class="link-cadastrar">Como me cadastrar?</a>
            </form>
        </section>
    </main>

    <footer class="main-footer">
        <section class="footer-content">
            <section class="footer-section about">
                <h3>MOVIEFLIX</h3>
                <p>O melhor lugar para maratonar filmes e séries. Cancelamento fácil a qualquer momento.</p>
            </section>

            <section class="footer-section links">
                <h3>Links Rápidos</h3>
                <ul>
                    <li><a href="#">Sobre Nós</a></li>
                    <li><a href="#">Perguntas Frequentes</a></li>
                    <li><a href="#">Termos de Uso</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                </ul>
            </section>

            <section class="footer-section social">
                <h3>Siga-nos</h3>
                <section class="social-icons">
                    <a href="#"><img src="../img/instagram.png" alt="instagrma"></a>
                    <a href="#"><img src="../img/facebook.png" alt="facebook"></a>
                    <a href="#"><img src="../img/ex-twitter.png" alt="twitter"></a>
                </section>
            </section>
        </section>

        <section class="footer-bottom">
            &copy; <span id="current-year"></span> Movieflix. Todos os direitos reservados.
        </section>
    </footer>
</body>
</html>