body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(#00283e, #001d3d);
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001d;
    color: #fff;
    padding: 10px 20px;
}

.logo{
    font-size: 25px;
    color: #09b;
    text-shadow: 0px 0px 15px #09b7;
    font-weight: 800;
    padding-left: 1.8em;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 30px;
}

.login-box{
    background-color: #00445c;
    text-align: center;
    max-width: 500px;
    width: 90%;
    margin: 120px auto; 
    padding: 30px;
    box-shadow: 0px 0px 40px #0006;
    border-radius: 8px;
}

.icone-usuario{
    margin-bottom: 25px;
}
.icone-usuario img{
    width: 150px;
    height: 150px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    align-self: flex-start;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    margin-left: 8px;
    margin-bottom: -5px;
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #000;
    color: #fff;
    outline: none;
    font-size: 1em;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn {
    background-color: #00b0d9;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 12px 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1em;
    flex-grow: 1;
    max-width: 180px;
}

.btn:hover {
    background-color: #00d4ff;
}

.link-cadastrar{
    width: 100%; 
    display: block;
    text-align: center;
    font-size: 0.9em;
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

.link-cadastrar:hover{
    color: #00b0d9;
    text-decoration: underline;
}

.main-footer {
    background-color: #003; 
    color: #aebfd1;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 40px 50px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1; 
    min-width: 200px;
    margin: 15px;
}

.footer-section h3 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 1.2em;
    border-bottom: 1px solid #00285e;
    padding-bottom: 5px;
}


.footer-section.links ul {
    list-style: none;
    padding: 0;
}

.footer-section.links ul li {
    margin-bottom: 10px;
}

.footer-section.links a {
    text-decoration: none;
    color: #aebfd1;
    transition: color 0.3s;
}

.footer-section.links a:hover {
    color: #00b0d9;
    text-decoration: underline; 
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.0);
    cursor: pointer;
    box-shadow: 0 0px 25px #09b5;
}

.footer-bottom {
    background-color: #002; 
    color: #778899;
    text-align: center;
    padding: 15px 0;
    font-size: 0.85em;
    border-top: 1px solid #012;
}

.titulo-filme{
    text-align: start;
    margin-bottom: 10%;
    color:#fff;
}

.label-botao {
    display: inline-block;
    padding: 10px 15px;
    background-color: #818181;
    color: rgb(244, 244, 244);
    border: 1px solid rgb(244, 244, 244);
    border-radius: 10px; 
    text-align: center;
    margin-left: 35%;
}

.botao-arquivo {
    display: none;
}

.cor-titulo{
    color: #fff;
}