body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #00283e;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001d;
    color: #fff;
    padding: 10px 20px;
}

.logo{
    font-size: 25px;
    color: #09b;
    text-shadow: 0px 0px 15px #09b7;
    font-weight: 800;
    padding-left: 1.8em;
}

.nav-links img {
    width: 22px;
    height: 22px;
    filter: invert(1);
    transition: transform 0.2s ease;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #00b0d9;
}

.perfil {
    position: relative;
    display: inline-block;
}

.perfil-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menu-perfil {
    display: none;
    position: absolute;
    right: 0;
    background-color: #002;
    border-radius: 10px;
    min-width: 200px;
    box-shadow: 0 4px 8px #000c;
    z-index: 3;
}

.menu-perfil a {
    color: #fff;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    transition: background 0.3s ease;
}

.menu-perfil a:hover {
    color: #fff;
    background-color: #00b0d955;
    border-radius: 12px;
}

.perfil:hover .menu-perfil {
    display: block;
}

.filme {
    position: relative;
    min-height: 110vh;
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

.banner{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right;
}

.sobreposicao{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1.5) 61%, transparent);
}

.content{
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-40%);
    max-width: 600px;
    margin-bottom: 0;
}

.title {
    text-wrap: nowrap;
    font-size: 2.3rem;
    font-weight: 800;
    margin-bottom: 15px;
    color: #fffb;
}

.detalhes{
    display: flex;
    gap: 20px;
    color: #ccc;
    font-size: 1rem;
    margin-bottom: 25px;
}

.descricao {
    color: #ccc;
    font-size: 1rem;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn-play, .btn-info {
    padding: 10px 22px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-play {
    background: #e50914;
    color: #fff;
}

.btn-info {
    background: #fff3;
    color: #fff;
}

.btn-play:hover{
    background: #e50914cc;
}

.btn-info:hover{
    background: #fff2;
}


.main-footer {
    background-color: #003; 
    color: #aebfd1;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 40px 50px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1; 
    min-width: 200px;
    margin: 15px;
}

.footer-section h3 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 1.2em;
    border-bottom: 1px solid #00285e;
    padding-bottom: 5px;
}


.footer-section.links ul {
    list-style: none;
    padding: 0;
}

.footer-section.links ul li {
    margin-bottom: 10px;
}

.footer-section.links a {
    text-decoration: none;
    color: #aebfd1;
    transition: color 0.3s;
}

.footer-section.links a:hover {
    color: #00b0d9;
    text-decoration: underline; 
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.social-icons .x{
    filter: invert(1);
}

.social-icons img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.footer-bottom {
    background-color: #002; 
    color: #778899;
    text-align: center;
    padding: 15px 0;
    font-size: 0.85em;
    border-top: 1px solid #012;
}
