body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00283e;
    margin: 0;
    
}

.lupa{
    width: 50px;
    height: 50px;
    
}

.casa{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    margin-right: 11%;
    margin-top: 3%;
    filter: invert(1);
}

h2{
    color: white;
    position: absolute;
    right: 6%;
    margin-top: 60px;
}

a, h3{
    color: white;
    display: flex;
}


.titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10%;
    margin-top: 1%; 
    color: #fff;
}

.filme {
    width: 40px;
    height: 40px;
    filter: invert(1);
}

nav{
    position: relative;
    padding-bottom: 90px;
}

.bloco-principal{
    background-color: #0097b27b;
    display: flex;
    flex-direction: column; 
    border-radius: 1%;
    margin-top: 1%;
    padding: 20px;
    width: 1400px;
    margin-left: 2%;
    margin-bottom: 200px;
}

.bloco-principal h3 {
    color: white;
    margin-bottom: 10px;  
    font-size: 24px;
    text-align: left;
        
}


.flex-filmes {
    display: flex;
    align-items: center;
    text-align: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
}

.flex-filmes::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 auto;
    width: 210px;
    overflow: hidden;
    transition: transform 0.3s ease;
    scroll-snap-align: start;
}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.02);
}

.main-footer {
    background-color: #003; 
    color: #aebfd1;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 40px 50px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1; 
    min-width: 200px;
    margin: 15px;
}

.footer-section h3 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 1.2em;
    border-bottom: 1px solid #00285e;
    padding-bottom: 5px;
}


.footer-section.links ul {
    list-style: none;
    padding: 0;
}

.footer-section.links ul li {
    margin-bottom: 10px;
}

.footer-section.links a {
    text-decoration: none;
    color: #aebfd1;
    transition: color 0.3s;
}

.footer-section.links a:hover {
    color: #00b0d9;
    text-decoration: underline; 
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.0);
    cursor: pointer;
    box-shadow: 0 0px 25px #09b5;
}

.footer-bottom {
    background-color: #002; 
    color: #778899;
    text-align: center;
    padding: 15px 0;
    font-size: 0.85em;
    border-top: 1px solid #012;
}

.titulo-filme{
    text-align: start;
    margin-bottom: 10%;
    color:#fff;
}

.label-botao {
    display: inline-block;
    padding: 10px 15px;
    background-color: #818181;
    color: rgb(244, 244, 244);
    border: 1px solid rgb(244, 244, 244);
    border-radius: 10px; 
    text-align: center;
    margin-left: 35%;
}

.botao-arquivo {
    display: none;
}

.cor-titulo{
    color: #fff;
}
