body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:linear-gradient(rgb(0, 40, 65), rgb(0, 29, 70));
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001d;
    color: #fff;
    padding: 10px 20px;
}

.logo{
    font-size: 25px;
    color: #09b;
    text-shadow: 0px 0px 15px #09b7;
    font-weight: 800;
    padding-left: 1.8em;
}

.nav-links img {
    width: 22px;
    height: 22px;
    filter: invert(1);
    transition: transform 0.2s ease;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #00b0d9;
}

.perfil {
    position: relative;
    display: inline-block;
}

.perfil-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menu-perfil {
    display: none;
    position: absolute;
    right: 0;
    background-color: #002;
    border-radius: 10px;
    min-width: 200px;
    box-shadow: 0 4px 8px #000c;
    z-index: 3;
}

.menu-perfil a {
    color: #fff;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    transition: background 0.3s ease;
}

.menu-perfil a:hover {
    color: #fff;
    background-color: #00b0d955;
    border-radius: 12px;
}

.perfil:hover .menu-perfil {
    display: block;
}

main{
    margin: 80px;
}

.flex-perfis{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 0 80px 80px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #fff;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff2;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
    padding: 80px;
    width: 100%;
    max-width: 320px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
}

.card p {
    margin: 5px 0 15px 0;
    font-size: 1.2rem;
    color: #eee;
}

.perfil-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #000;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #0006;
    transition: transform 0.3s ease;
}

.perfil-icon img {
    width: 100px;
    height: 100px;
    filter: invert(1);
}

.main-footer {
    background-color: #003; 
    color: #aebfd1;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 40px 50px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1; 
    min-width: 200px;
    margin: 15px;
}

.footer-section h3 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 1.2em;
    border-bottom: 1px solid #00285e;
    padding-bottom: 5px;
}


.footer-section.links ul {
    list-style: none;
    padding: 0;
}

.footer-section.links ul li {
    margin-bottom: 10px;
}

.footer-section.links a {
    text-decoration: none;
    color: #aebfd1;
    transition: color 0.3s;
}

.footer-section.links a:hover {
    color: #00b0d9;
    text-decoration: underline; 
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.social-icons .x{
    filter: invert(1);
}

.social-icons img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.footer-bottom {
    background-color: #002; 
    color: #778899;
    text-align: center;
    padding: 15px 0;
    font-size: 0.85em;
    border-top: 1px solid #012;
}
