body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-container{
    background: url("../img/filmes/filme.jpg"), linear-gradient(rgba(0, 40, 62, 0.8) 75%, rgba(0, 29, 61, 0.8) 100%);
    background-size: cover;
    background-position:  center left;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    min-height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001d;
    color: #fff;
    padding: 10px 20px;
}

.logo{
    font-size: 25px;
    color: #09b;
    text-shadow: 0px 0px 15px #09b7;
    font-weight: 800;
    padding-left: 1.8em;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 20px;
}

.nav-links .entrar:hover {
    background-color: #333;
    border-radius: 15px;
    text-decoration: underline;
}

.nav-links .assinar{
    color: #fff;
    background: linear-gradient(35deg, #00bcd4, #0078ff);
    border-radius: 15px;
}

.nav-links .assinar:hover{
    background: #0078ff;
    text-decoration: underline;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20% 2rem;
    color: #fff;
    box-shadow: inset 0 -100px 50px -10px #003;
    margin-bottom: -50px;
}

.main-content h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
    max-width: 800px;
}

.main-content h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.semi-login {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.semi-login p{
    font-size: 1.5rem;
}

.semi-login a {
    padding: 18px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #09b;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s;
}

.semi-login a:hover {
    background-color: #0097f0;
    transform: scale(1.05);
    box-shadow: 0 0 10px #00bcd4;
}

.planos {
    background-color: #003;
    color: #fff;
    text-align: center;
    padding: 60px 20px;
}

.planos h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #09b;
}

.planos .economia{
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 40px;
}

.planos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 25px;
}

.plano {
    background-color: #024;
    border-radius: 15px;
    box-shadow: 0 0 15px #0007;
    padding: 30px 25px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plano:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #09bc;
}

.plano h3 {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 20px;
}

.plano ul {
    list-style: none;
    padding: 0;
    text-align: left;
    font-size: 0.95rem;
    margin-bottom: 25px;
}

.plano ul li {
    margin-bottom: 10px;
    line-height: 1.4em;
}

.preco {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: auto;
}

.preco span {
    color: #09b;
    font-size: 1.5rem;
}

.preco-total {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 20px;
}

.btn-plano {
    background: linear-gradient(35deg, #00bcd4, #0078ff);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    text-decoration: none;
}

.btn-plano:hover {
    background: #0078ff;
}


.destaque {
    padding: 40px;
    background-color: #003;
    color: #fff;
}

.destaque h2 {
    font-size: 1.8em;
    font-weight: 700;
    margin: 30px;
    text-align: center;
    color: #fff;
}

.grade {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
    height: 300px; 
}

.card:hover {
    transform: scale(1.1);
}

.main-footer {
    background-color: #003; 
    color: #aebfd1;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 40px 50px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1; 
    min-width: 200px;
    margin: 15px;
}

.footer-section h3 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 1.2em;
    border-bottom: 1px solid #00285e;
    padding-bottom: 5px;
}


.footer-section.links ul {
    list-style: none;
    padding: 0;
}

.footer-section.links ul li {
    margin-bottom: 10px;
}

.footer-section.links a {
    text-decoration: none;
    color: #aebfd1;
    transition: color 0.3s;
}

.footer-section.links a:hover {
    color: #00b0d9;
    text-decoration: underline; 
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border: none;
    transition: transform 0.3s ease-in-out;
}
.social-icons .x{
    filter: invert(1);
}

.social-icons img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.footer-bottom {
    background-color: #002; 
    color: #778899;
    text-align: center;
    padding: 15px 0;
    font-size: 0.85em;
    border-top: 1px solid #012;
}