body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-container{
    background: url("../img/filmes/filme.jpg"), linear-gradient(rgba(0, 40, 62, 0.8) 75%, rgba(0, 29, 61, 0.8) 100%);
    background-size: cover;
    background-position:  center left;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    min-height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001d;
    color: #fff;
    padding: 10px 20px;
}

.logo{
    font-size: 25px;
    color: #09b;
    text-shadow: 0px 0px 15px #09b7;
    font-weight: 800;
    padding-left: 1.8em;
}
.nav-links{
    display: flex;
    gap: 20px;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 20px;
}

.nav-links .entrar:hover {
    background-color: #333;
    border-radius: 15px;
    text-decoration: underline;
}

.nav-links .assinar{
    color: #fff;
    background-color: #09b;
    border-radius: 15px;
}

.nav-links .assinar:hover{
    background-color: #09bb;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20% 2rem;
    color: #fff;
    box-shadow: inset 0 -100px 50px -10px #003;
    margin-bottom: -50px;
}

.main-content h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
    max-width: 800px;
}

.main-content h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.email-form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.email-form input {
    padding: 16px;
    font-size: 1.2rem;
    width: 300px;
    max-width: 100%;
    border: 1px solid #555;
    border-radius: 5px;
    background: #0006;
    color: white;
}

.email-form button {
    padding: 16px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #09b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

.email-form button:hover {
    background-color: #0097f0;
}

.destaque {
    padding: 40px;
    background-color: #003;
    color: #fff;
    border-bottom: 1px solid #00285e;
}

.destaque h2 {
    font-size: 1.8em;
    font-weight: 700;
    margin: 30px;
    text-align: center;
    color: #fff;
}

.grade {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
    height: 300px; 
}

.card:hover {
    transform: scale(1.1);
}

.main-footer {
    background-color: #003; 
    color: #aebfd1;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 40px 50px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1; 
    min-width: 200px;
    margin: 15px;
}

.footer-section h3 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 1.2em;
    border-bottom: 1px solid #00285e;
    padding-bottom: 5px;
}


.footer-section.links ul {
    list-style: none;
    padding: 0;
}

.footer-section.links ul li {
    margin-bottom: 10px;
}

.footer-section.links a {
    text-decoration: none;
    color: #aebfd1;
    transition: color 0.3s;
}

.footer-section.links a:hover {
    color: #00b0d9;
    text-decoration: underline; 
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.0);
    cursor: pointer;
    box-shadow: 0 0px 25px #09b5;
}

.footer-bottom {
    background-color: #002; 
    color: #778899;
    text-align: center;
    padding: 15px 0;
    font-size: 0.85em;
    border-top: 1px solid #012;
}